<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container-fluid" *ngIf="!isLoading && poems.length > 0">
  <div class="row">
    <div class="col-xs-6 col-md-4" *ngFor="let poem of poems">
      <div class="example-card">
        <h2>Name: {{ poem.name }}</h2>
        <h3>Type: {{ poem.type }}</h3>
        <mat-divider></mat-divider>
        <textarea readonly rows="15" cols="50">{{ poem.poem }}</textarea>
        <p>Poet: {{ poem.creater }}</p>
        <mat-divider></mat-divider>
        <div class="card-action" *ngIf="isAuthenticated">
          <button
            mat-raised-button
            color="primary"
            [routerLink]="['/edit', poem._id]"
          >
            Edit
          </button>
          <button mat-raised-button color="warn" (click)="onDelete()">
            Delete
          </button>
          <button mat-raised-button color="ascent">
            <a [href]="poem.pdf">Download</a>
          </button>
          <button mat-raised-button color="accent" (click)="copyLink(poem._id)">
            Share
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="info-text mat-body-1" *ngIf="poems.length <= 0 && !isLoading">
  No Poems added yet!
</p>
